/*Body fortmat*/
body{
    display: flex;
    background-color: goldenrod;
    line-height:1.5;
    flex-direction: column;
}
/* Header fortmat*/
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: darkblue;
    padding: 1%;
}
h2{
    font-size: 200%;
}
/* heading 1 fortmat with color, size, and padding in header*/
.header h1{
    color: white;
    font-size: 200%;
    padding: 1%;
}
.header div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}
.header img {
    width: 100px;
    height: 100px;
    border-radius: 50px;
}
.header nav ul{
    display: flex;
    justify-content: space-between;   
    min-width: 500px;
    list-style-type: none;
    padding-right: 15px;
}
.header nav ul a{
    color: white;
    font-size: 125%;
    font-weight: bold;
}
/* Hover for navigation in the header, it change yellow with pointer mouse when we point to it*/
.header nav ul a:hover{
    color: yellow;
    cursor: pointer;
}
/*About me section fortmatting*/
.about-me{
    display: flex;
    background-color: aquamarine;
    margin-top: 10px;
}
.about-me h2{
    width: 25%;
    border-right: 3px solid black;
    text-align: right;
    padding-right: 10px;
}
.about-me div{
    flex-wrap: wrap;
    width: 75%;
    margin-left: 50px;
    margin-bottom: 5px;
}
/*Work section fortmatting*/
.work {
    display: flex;
    margin-top: 10px;
    background-color: bisque;
}
.work h2 {
    width: 25%;
    border-right: 3px solid black;
    text-align: right;
    padding-right: 10px;
}
.work div {
    flex-wrap: wrap;
    width: 75%;
    margin-left: 50px;
    display: flex;
    margin-bottom: 10px;
}
.card {
    width: 48%;
    height: 300px;
    margin: 10px 10px 10px 0px;
    position: relative;
    transition: transform .1s;
}
.card img{
    width: 100%;
    height: 100%;
}
/* Image will be larger and lighter when we point to it*/
.card:hover img{
    transform: scale(1.1);
    -webkit-filter: brightness(150%);
}
/* Fortmatting for first application*/
.card-html {
    width: 100%;
    height: 600px;
    margin: 10px 10px 10px 0px;
    position: relative;
    transition: transform .1s;
}
.card-html img{
    width: 100%;
    height: 100%;
}
/* Image will be larger and lighter when we point to first application*/
.card-html:hover img{
    transform: scale(1.1);
    -webkit-filter: brightness(150%);
}
.card-h3{
    width : 150px;
    height: 60px;
    border: 3px solid black;
    background-color: aqua;
    color: black;
    position: absolute;
    left: 0;
    bottom: 0;
}
/*Contact me section fortmatting*/
.contact-me{
    display: flex;
    margin-top: 10px;
    background-color:aquamarine;
}
.contact-me h2 {
    width: 25%;
    border-right: 3px solid black;
    text-align: right;
    padding-right: 10px;
}
.contact-me nav {
    width: 75%;
    margin-left: 50px;
}
.contact-me nav ul{
    width: 80%;
    display: flex;
    flex-wrap: flex;
    justify-content: space-between;
    list-style-type: none;
    padding: 1%;

}
.contact-me a{
    font-size: 100%;
}
/* The navigation in contact me section change color when pointing to it*/
.contact-me a:hover {
    color: red;
}
/* the screen of the webpage will change with the size of first application and background color of about-me section when the size of the webpage is smaller than 992px*/
@media screen and (max-width: 992px) {
    .card-html {
        margin: 10px 3px 10px 0px;
    }
    .about-me {
        background-color: goldenrod;
    }
}
/*The header display, the size of card in work section, contact me display and background color of work section will change when the size of the webpage is smaller than 768px */
@media screen and (max-width: 768px) {
    .header {
        flex-direction: column;
    }
    .card{
        width: 100%;
    }
    .work {
        background-color: goldenrod;
    }
    .contact-me nav ul{
        flex-direction: column;
    }
}